Announcements:

Extra credits!

- Completition of survey: 0.25 percentage point each -- start-of-quarter, mid-quarter, and department's final survey. I will keep the start-of-quarter survey open until 11:59 pm tonight!
- First time coming to open-door office hour and asking a question: 0.25 percentage point
- Outstanding quality and quantity of participation on Campuswire or discussions: up to 0.5 percentage point 

...directly added to the final total percentage.


Previously: Basic types, list, object
- Operation on numbers
  - `+`, `-`, `*`, `/`, `//`, `%`
- Operation on collections
  - `len()`, `+` (concatenation)
  - Indexing and slicing (`[start:end]` or `[start:end:step]`)
- Data abstraction in Python: object. Everything in Python is object!
  - Each object contains id, type and value
  - _Every_ variable in Python just stores a reference to an object
- List
  - List only contains references to objects; internally, you can just think it as an array of (void) pointers in C/C++!
  - Some operations on list directly _mutates_ the list (`.append`, `.extend()`, etc.), some of them don't (e.g., `+`). So far, `list` is the only mutable type introduced -- all others (`int`, `float`, `string`) are immutable, cannot change its value. 

(remember the figures I draw in the classroom!)

Today: control flow, iteration, tuples

### More objects and lists

`is` vs. `==`: https://docs.python.org/3/library/stdtypes.html#truth-value-testing

In [5]:
x = [0]
y = [0]
print(x is y) # compare id. (equivalent to id(x) == id(y)
print(x == y) # compare value
print(type(x) == type(y)) # compare type

False
True
True

In [44]:
print(id(x))
print(id(x[:])) # slicing with no `begin` or `end` values?
# ’x[:]‘ creates a shallow copy of x

4421359744
4349419072

In [7]:
L = [0, [1, 2]]
print(L, id(L))

inner = L # '=' is deep copy
print(inner, id(inner))

inner = inner + [3] 
print(inner, id(inner))

inner.append(3) # 
print(inner, id(inner))

inner.extend([4,5]) # 
print(inner, id(inner))

print(L, id(L))


# 1) [0, [1, 2]]
# 2) [0, [1, 2, 3]]
# cf. when we do inner.append(3)

[0, [1, 2]] 4344094784
[0, [1, 2]] 4344094784
[0, [1, 2], 3] 4345222848
[0, [1, 2], 3, 3] 4345222848
[0, [1, 2], 3, 3, 4, 5] 4345222848
[0, [1, 2]] 4344094784

In [46]:
### '=' is deep copy ###

res = []
y = [0, 1]

y[0] = y[0] + 1
res.append(y)

y[0] = y[0] + 1
res.append(y)

y[0] = y[0] + 1
res.append(y)

print(res)

[[3, 1], [3, 1], [3, 1]]

In [47]:
### 'L[:]' is shallow copy ###

res = []
y = [0, 1]

y[0] = y[0] + 1
res.append(y[:]) 

y[0] = y[0] + 1
res.append(y[:])

y[0] = y[0] + 1
res.append(y[:])

print(res)

[[1, 1], [2, 1], [3, 1]]

In [48]:
### 'L.copy()' is shallow copy ###

res = []
y = [0, 1]

y[0] = y[0] + 1
res.append(y.copy())

y[0] = y[0] + 1
res.append(y.copy())

y[0] = y[0] + 1
res.append(y.copy())

print(res)

[[1, 1], [2, 1], [3, 1]]

"Assignment statements in Python do not copy objects, they create bindings between a target and an object. For collections that are mutable or contain mutable items, a copy is sometimes needed so one can change one copy without changing the other."


shallow copy vs. deep copy: https://docs.python.org/3/library/copy.html
no need to know the intricacies of deep copy, just know what shallow copy is 
and that L[:], L.copy() both return shallow copies.

Strings are an example of immutable sequences and 
lists are an example of mutable sequences. 
They're both "sequences", which is why they both support a lot of the same
operations (e.g. indexing, slicing, len, etc).
But you can't change the value of a string. You need to make a new object if you 
want to make changes.

### `tuple`
`tuple` is another immutable sequence. Regarded/used as an "immutable list".

In [49]:
l = [0, 1, 2, [777]]
print(l)
l[0] = 99 
print(l)

[0, 1, 2, [777]]
[99, 1, 2, [777]]

In [50]:
s = '012[777]'
print(s)
s[0] = 99 ## TypeError: 'str' object does not support item assignment
print(s)

012[777]

TypeError: 'str' object does not support item assignment

In [ ]:
t = (0, 1, 2, [777])
print(t)
t[0] = 99
print(t)

But we can still mutate mutable entries of tuples:

In [ ]:
t[3].append(8)
print(t)

In [ ]:
# lists, strings, and tuples all support this operation

L = [1, 2, 3]
print(L + [4])

s = '123'
print(s + '4')

t = (1, 2, 3)
# print(t + (4)) ## TypeError: can only concatenate tuple (not "int") to tuple
print(t + (4,))

# but the immutable data types dont have something equivalent to list append!

[1, 2, 3, 4]
1234
(1, 2, 3, 4)

More explanation on lists and tuples: https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

### `and`, `or`, and `not`

control flow: https://docs.python.org/3/tutorial/controlflow.html

boolean operations: https://docs.python.org/3/library/stdtypes.html#truth-value-testing

In [ ]:
x = 0
y = 1
z = 2

print(x < y <= z)

print(len("") > 0 and y < z) # A and B: if A is False, doesn't evaluate B.

print(len("") > 0 or y < z) # A or B: if A is True, doesn't evaluate B.

print(not (x == y), x != y)

True
False
True
True True

Possible exam question: `True`, `False`, or an error?

In [ ]:
l = [1, 2, 3]
l[0] == 1 or l[3] > 0 # since l[0] == 1 is True, then it doesn't evaluate l[3] > 0
l[3] > 0 or l[0] == 1 # evaluate l[3] > 0 first, out-of-boundary

True

Quiz 2.1
Which of the following boolean (logical) expressions evaluate to False?

In [79]:
# A. (1 > "0") | (1 < "0")
# TypeError
(1 > "0") # '>' not supported between instances of 'int' and 'str'
(1 < "0") # '<' not supported between instances of 'int' and 'str'

# C. ("o" in "boldly") & (1 in ["1", "2"])
("o" in "boldly") # True
(1 in ["1", "2"]) # False - 1 is not equal to "1" (integer vs. string)

True

not to be confused with bitwise operations (`&`, `|`, `~`, `^`, etc.) https://docs.python.org/3/library/stdtypes.html#bitwise-operations-on-integer-types (not covered in this class)

### `if`, `elif`, `else`

In [ ]:
cat_age = 12 

if cat_age > 30: # no need to have paranethesis
    print('old cat') # indentation(缩进) is very important
elif cat_age > 15:
    print('still old cat')
elif cat_age > 7:
    print('kinda old cat') # have as many elif as you want.
else:
    print('kitty')

### `while` and `break`

In [ ]:
num = 0
while num < 10:
    num = num + 1 # num += 1
    if num % 2 == 0:
        print('Found an even number', num)
    else:
        print('Found an odd number', num)

Found an odd number 1
Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9
Found an even number 10

In [ ]:
num = 0 
while True:
    num += 1
    if num % 2 == 0:
        print("Found an even number", num)
    else:
        print("Found an odd number", num)
    if num == 10:
        break # break out of the innermost loop that it's in.

Found an odd number 1
Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9
Found an even number 10

Why would you choose to implement `while` loop one way over the other? - what if termination condition is complicated?

In [ ]:
num = 0

while True:
    num = num + 1 # num += 1
    if num > 10:
        break
    elif num % 2 == 0:
        print('Found an even number', num)
    else:
        print('Found an odd number', num)

Found an odd number 1
Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9
Found an even number 10

### `continue`

In [ ]:
num = 0
while num < 10:
    num = num + 1 # num += 1
    if num % 2 == 0:
        print('Found an even number', num)
    else:
        print('Found an odd number', num)

Found an odd number 1
Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9
Found an even number 10

In [ ]:
num = 0

while num < 10:
    num = num + 1 # num += 1

    if num % 2 == 0:
        print('Found an even number', num)
        continue # go back to top of the innermost loop it's in
    
    print('Found an odd number', num)

Found an odd number 1
Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9
Found an even number 10

### `pass`

In [37]:
num = 0

while num < 10:
    num = num + 1 # num += 1

    if num % 2 == 0:
        pass # placeholder line ## if we remove this line, we will get an IndentationError
        #print('im inside the if block', num)
        
    else:
        print('Found an odd number', num)
        
    print('outside if-else', num)

Found an odd number 1
outside if-else 1
outside if-else 2
Found an odd number 3
outside if-else 3
outside if-else 4
Found an odd number 5
outside if-else 5
outside if-else 6
Found an odd number 7
outside if-else 7
outside if-else 8
Found an odd number 9
outside if-else 9
outside if-else 10

### Boolean casting

You can just put non-boolean expression in place of conditions, as in C++. For built-in types, zero values in each numeric type, empty collections, and `None` value (to appear later in the course) will be casted to `False`, and almost everything else will be casted to `True`. https://docs.python.org/3/library/stdtypes.html#truth-value-testing

### `for` loops - the Python way

In [38]:
L = ['A', 'B', 'C', 'D', 'E', 'F']

for i in [0, 1, 2, 3, 4, 5]:
    print(i)
    print('Alphabet', L[i])

0
Alphabet A
1
Alphabet B
2
Alphabet C
3
Alphabet D
4
Alphabet E
5
Alphabet F

### `range`

In [39]:
for i in range(len(L)): # i = 0, 1, ... len(L)-1 , shortcut for range(0, 6, 1). 
    print(i)
    print('Alphabet', L[i])

0
Alphabet A
1
Alphabet B
2
Alphabet C
3
Alphabet D
4
Alphabet E
5
Alphabet F

In [40]:
for ch in L: 
    print(ch)
    print('Alphabet', ch)

A
Alphabet A
B
Alphabet B
C
Alphabet C
D
Alphabet D
E
Alphabet E
F
Alphabet F

In [41]:
print(type(range(6))) # range is an immutable collection with start, end, step values (like in slicing). 
# defaults to start=0, step=1
for i in range(6): # [a,b) = [0,6)
    print(i)

<class 'range'>
0
1
2
3
4
5

In [42]:
for i in range(1, 7): # defaults to step=1
    print(i)

1
2
3
4
5
6

In [43]:
for i in range(10, 1, -2): # start: 10, end: 1, step: -2 ## 1 is open interval
    print(i)

10
8
6
4
2

Quiz 2.2
Describe the result of the following code:

In [44]:
for i in range(5):
    print(i)
print(i) # in Python, i in for loop is still available even after the loop is done.

for j in range(5): # j starts at 0, range(5) means j belongs to [0,5)
    print(j) # 0 1 2 3 4

0
1
2
3
4
4
0
1
2
3
4

### Some looping techinques: `zip` and `enumerate`

Iterating over multiple collections at the same time

In [45]:
L1 = [10, 11, 12, 13, 14, 15]
L = ['A', 'B', 'C', 'D', 'E', 'F']

for i, j in zip(L1, L):
    print(i, j)

10 A
11 B
12 C
13 D
14 E
15 F

Add index of the elements

In [46]:
# L = ['A', 'B', 'C', 'D', 'E', 'F']

for i, c in enumerate(L):
    print(i, c)

0 A
1 B
2 C
3 D
4 E
5 F

More tricks on iterating smartly:  https://docs.python.org/3/tutorial/datastructures.html#tut-loopidioms

### list comprehension - very Pythonic tool to create a list from a list! (also useful for HW1)

https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

In [47]:
L = [1, 2, 3, 4, 5]

In [48]:
L = [1, 2, 3, 4, 5]
sq_L = []

for l in L:
    sq_L.append(l**2)

print(sq_L)

[1, 4, 9, 16, 25]

In [49]:
# list comprehension

'''
# L = [f(i) for i in I]
# f(i) = i*2, I = [1,2,3]
L = [i*2 for i in I]
L[0] = 1*2 = 2
L[1] = 2*2 = 4
L[2] = 2*3 = 6
L = [2 4 6]
'''

L = [1, 2, 3, 4, 5]
sq_L = [l**2 for l in L]

print(sq_L)

[1, 4, 9, 16, 25]

In [50]:
L = [1, 2, 3, 4, 5]
odd_sq_L = [l**2 for l in L if l%2 == 1] # [f(x) for x in list if x satisfies criteria]

print(odd_sq_L)

[1, 9, 25]

In [1]:
# nested list comprehension
[print(-i*j) for i in [2, 4] for j in [1, 2]]

# nested for-loop
for i in [2, 4]:
    for j in [1, 2]:
        print(-i*j)
# they are the same thing with different format

-2
-4
-4
-8
-2
-4
-4
-8

Nested list comprehension: https://docs.python.org/3/tutorial/datastructures.html#nested-list-comprehensions (useful for HW1 problem 4)